* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;

  background: linear-gradient(45deg, #190361 0%, #B0F 100%);;

  display: grid;
  place-items: center;

  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
}

main div {
  width: 428px;
}

div {
  padding: 48px 64px 64px 64px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

  text-align: center;
}

h1,h2 {
  color: #34355B;
  font-size: 24px;
  font-weight: 700;
}

p {
  margin-top: 14px;
  color: #34355B;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
}

.screen1 img {
  margin-top: 26px;
  width: 249px;
  height: 192px;
  cursor: pointer;
}

.screen1 img:hover {
  animation: vibrate 0.3s linear infinite both;
}

/* screen2 */

figure {
  margin-top: 17px;
}

.message {
  animation: slide-in-elliptic-bottom-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

img + img {
  margin-top: 60px;
}

button {
  margin-top: 60px;
  padding: 16px;

  border: 0;
  border-radius: 4px;
  background: #FF9500;

  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 700;

  cursor: pointer;
}

button:hover {
  background: #ffb041;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slide-in-elliptic-bottom-fwd {
  0% {
    transform: translateY(600px) rotateX(30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% -1400px;
    opacity: 1;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}